.products {
  min-width: 0;
  padding-top: 110px;

  @media (max-width: 1023px) {
    padding-top: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 91px;
  }
}

.products__list {
  @include list-reset;
  margin-bottom: 45px;

  @media (max-width: 1023px) {
    margin-bottom: 35px;
  }

  @media (max-width: 767px) {
    margin-bottom: 26px;
  }
}

.products__list li {
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
}

.products__button {
  position: absolute;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;

  @media (max-width: 767px) {
    display: none;
  }
}

.products__button svg {
  width: 36px;
  height: 15px;
  stroke: var(--color-accent-100);
}

.products__button:hover {
  background-color: var(--color-accent-100);
}

.products__button:hover svg {
  stroke: var(--color-white);
}

.products__button--prev {
  left: -7px;
}

.products__button--next {
  right: -7px;
}

.products__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products__pagination span {
  padding: 5px;
  font-weight: 500;
  color: var(--color-gray-500);
  border: 2px solid transparent;
  border-radius: 5px;
}

.products__pagination span:hover {
  border-color: var(--color-accent-100);
}

.products__pagination .swiper-pagination-bullet-active {
  color: var(--color-gray-900);
}

.no-js .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.no-js .products__button {
  display: none;
}
