.signup-form {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "h2 h2"
    "p p"
    "input button";
  border-bottom: 1px solid var(--color-white);

  @media (max-width: 1023px) {
    max-width: 560px;
  }
}

.signup-form h2 {
  grid-area: h2;
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--secondary-ff);
  font-size: 33px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  @media (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.signup-form p {
  grid-area: p;
  margin: 0;
  color: var(--color-gray-500);

  @media (max-width: 1023px) {
    margin-bottom: 37px;
  }

  @media (max-width: 767px) {
    margin-bottom: 34px;
  }
}

.signup-form__field {
  width: 100%;
}

.signup-form__field input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: inherit;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s;
}

.signup-form__field input:hover {
  background-color: var(--color-white-opacity-1);
}

.signup-form__field input::placeholder {
  color: var(--color-gray-500);
}

.signup-form button {
  padding: 6px 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  color: inherit;
  border: none;
  background-color: transparent;
  transition: color 0.3s;
}

.signup-form span {
  margin-right: 8px;
}

.signup-form svg {
  stroke: currentColor;
}

.signup-form button:hover {
  color: var(--color-accent-100);
}

.signup-form button:active {
  opacity: 0.7;
}
