:root {
  --primary-ff: "Poppins", "Arial", sans-serif;
  --secondary-ff: "Cormorant Garamond", "Times New Roman", serif;

  --color-accent-100: #a87b62;
  --color-accent-200: #f0eae4;

  --color-white: #ffffff;
  --color-gray-100: #f6f5f4;
  --color-gray-500: #9b9997;
  --color-gray-900: #1d1613;
  --color-black: #000000;
}
